{% extends 'index.html' %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}

<div class="card">
  <img src="" alt="">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <div class="text-warning">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <a href="#" class="btn btn-primary pull-right"></a>
  </div>
</div>

{% endblock  %}